.card-body[b-qxi6ej0kpq] {
    color: black;
}

.card-footer[b-qxi6ej0kpq] {
    background-color: #121838;
}

h2[b-qxi6ej0kpq] {
    color: black;
}

.session-format[b-qxi6ej0kpq] {
    background-color: #269BB9;
}

.session-level[b-qxi6ej0kpq] {
    background-color: #E459BB;
}