@inject IJSRuntime JS
@inject NavigationManager NavigationManager

<header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xxl align-items-center">

        <div class="logo-mobile">
            <a href="#hero" alt="Home" class="scrollto"><img src="img/logo.png" alt="" title=""></a>
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="" @onclick="NavigateToAboutSection"  @onclick:preventDefault>About</a></li>
                <li><a class="nav-link scrollto" href="/speakers">Speakers</a></li>                    
                <li><a class="nav-link scrollto" href="/agenda">Agenda</a></li>
                <li class="logo"><div id="logo" class="me-auto">
                    <a href="/" class="scrollto"><img src="img/logo.png" alt="Logo" title=""></a>
                </div></li>
                @* <li><a class="nav-link scrollto" href="/#venue">Venue</a></li> *@
                <li><a class="nav-link scrollto" href="" @onclick="NavigateToTicketsSection"  @onclick:preventDefault>Get your free ticket</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("InitializeHeaderScrollEffect");
        }
    }

    private void NavigateToAboutSection()
    {
        var path = new Uri(NavigationManager.Uri).LocalPath;
        if (path == "/about")
        {
            JS.InvokeVoidAsync("scrollToElement", "#about");
        }
        else
        {
            NavigationManager.NavigateTo("/about");
        }
    }

    private void NavigateToTicketsSection()
    {
        var path = new Uri(NavigationManager.Uri).LocalPath;
        if (path == "/tickets")
        {
            JS.InvokeVoidAsync("scrollToElement", "#tickets");
        }
        else
        {
            NavigationManager.NavigateTo("/tickets");
        }
    }
}
