.rocket-1 {
    background-image: url("img/rocket-1.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
}

.rocket-2 {
    background-image: url("img/rocket-2.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
}

.rocket-3 {
    background-image: url("img/rocket-3.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
}

.rocket-4 {
    background-image: url("img/rocket-4.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
}

.rocket-5 {
    background-image: url("img/rocket-5.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
}

.container {
    min-height: 250px;
}

.section-header {
    /* margin-top: 30px; */
    margin-bottom: 50px;
    text-align: center;
    padding-top: 60px;
}

.section-header h2 {
    display: inline;
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.section-header h2::before {
    content: "";
    position: absolute;
    top: calc(100% + 7px);
    width: calc(100% + 20px);
    left: -10px;
    height: 5px;
    background: linear-gradient(111.3deg, #269BB9 10%, #C248D6 90%);
    text-align: center;
    justify-content: center;
}

.section-header h4 {
    font-size: 18px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    margin-top: 23px;
    color: white;
}