@page "/updates"
@inject WebsiteSettings Settings

<PageTitle>Event Updates | Bitbash</PageTitle>

<HeaderSpacer />

<Section Id="updates" HeaderText="Event Updates" ExtraClass="rocket-4">

    <div class="row">
        <p>Want to be the first to know about upcoming (free!) events from Info Support?</p>
        <p>Sign up to receive updates straight to your inbox. Whether it’s Bitbash or other community events, we’ll keep you posted so you never miss out.</p>
        <p>By subscribing to event updates, you agree to our <a href="https://www.infosupport.com/en/privacy-statement/" target="_blank">privacy policy.</a></p>
    </div>

    <div class="row">
        <HubSpotForm Region="eu1" PortalId="25807913" FormId="af262814-1c17-485f-a60a-55a21c4d5d69" />
    </div>

</Section>
