.tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 16px !important;
    text-align: center
}

.tabs-item {
    display: inline-block;
    margin: 4px;
    font-size: 1.5rem;
    line-height: 20px;
}

.tabs-link {
    position: relative;
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: rgba(238, 238, 238, 0.6);
    border-radius: 2px;
    border: 1px solid rgba(238, 238, 238, 0.1) !important;
    transition: all .15s ease-in
}

.tabs-link:hover,
.tabs-link:focus,
.tabs-link:active {
    color: #fff;
    background-color: #E459BB;
    box-shadow: none !important
}

.tabs-item--active {
    border-color: transparent
}

.tabs-item--active .tabs-link {
    color: #fff;
    background-color: #E459BB;
    box-shadow: none
}

.tabs-item--active .tabs-link:hover,
.tabs-item--active .tabs-link:focus,
.tabs-item--active .tabs-link:active {
    color: #fff;
    background-color: #E459BB;
}
