#footer .content {
    background-color: #121838;
}

#footer .links {
    text-align: center;
    font-size: 21px;
    padding-top: 30px;
    padding-bottom: 12px;
}

#footer .links a {
    cursor: pointer;
    text-decoration: underline;
}

#footer .links a:hover {
    color: pointer;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}
