<!-- Ensure that footer is always at the bottom of the page even if the content is too short -->
<footer id="footer" class="mt-auto">


<div class="row content mt-5 pb-2">
        <div class="col link-item text-center">
            <p>
                <a href="https://www.linkedin.com/events/bitbash7130550286804246528/about/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                    LinkedIn
                </a>
            </p>
        </div>
        <div class="col link-item text-center">
            <p>
                <a href="https://twitter.com/bitbashconf" target="_blank">
                    <i class="bi bi-twitter-x"></i>
                    Twitter/X
                </a>
            </p>
        </div>
        <div class="col link-item text-center">
            <p>
                <a href="mailto:bitbash@infosupport.com">
                    <i class="bi bi-envelope"></i>
                    E-mail
                </a>
            </p>
        </div>
    </div>

@*     
    <div class="content mt-4 pb-4">
        <div class="links">
            <a href="mailto:bitbash@infosupport.com"><i class="bi bi-linkedin"></i> LinkedIn</a>
            <a href="mailto:bitbash@infosupport.com"><i class="bi bi-twitter-x"></i> Twitter/X</a>            
            <a href="mailto:bitbash@infosupport.com"><i class="bi bi-envelope"></i> Contact us</a>
            <!-- | <a href="code-of-conduct.html">Code of conduct</a> -->
        </div>
    </div> *@
</footer>