<!-- Ensure that footer is always at the bottom of the page even if the content is too short -->
<footer id="footer" class="mt-auto">
    <div class="content mt-4 pb-4">
        <div class="links">
            <a href="mailto:bitbash@infosupport.com">Contact us</a>
            <!-- | <a href="code-of-conduct.html">Code of conduct</a> -->
        </div>
    </div>
</footer>