#footer .content {
    background-color: #121838;
}

#footer .link-item {
    min-width: 250px;
}

#footer .link-item a {
    color: white;
}

#footer .link-item a:hover {
    color: #269BB9;
}

#footer .link-item p {
    line-height: 60px;
    margin-bottom: 0;
    display: inline-block;
}
