@inject IJSRuntime JS
@inject WebsiteSettings Settings

<div class="galleria"></div>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("InitializeGallery", "data/winter-2024-photos.json", ".galleria");
        }
    }
}