#organizers .organizer-item {
    min-width: 250px;
}

#organizers .organizer-item .organizer {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
}

#organizers .organizer-item .organizer img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
}

#organizers .organizer-item p {
    line-height: 60px;
    margin-bottom: 0;
    display: inline-block;
}