@inject NavigationManager NavigationManager
@inject WebsiteSettings Settings

@if (Speaker is not null)
{
    <div class="card speaker m-2 cursor-pointer bg-transparent border-0" @onclick="@(() => OnSessionClick(@Speaker))">
        <div class="text-center">
            <div class="speaker-photo">
                <img loading="lazy" src="@Speaker.ProfilePictureUrl">
            </div>
            <h5 class="speaker-name">@Speaker.FullName</h5>
            <h4 class="speaker-tagline">@Speaker.TagLine</h4>
        </div>
    </div>
}

@code
{
    [Parameter]
    public Speaker? Speaker { get; set; }

    private void OnSessionClick(Speaker speaker)
    {
        NavigationManager.NavigateTo(
            $"{Settings.CurrentEdition}/speaker/{speaker.Id}");
    }
}
