/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/

/* @font-face {
    font-family: 'Lampoon';
    src: url('../fonts/lampoon.ttf') format('truetype');
} */

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    background-color: #121838;
    /* background-color: #4E2A8C; */
    color: white;
    min-height: 500px;
}

a {
    color: #E459BB;
    text-decoration: none;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #E459BB;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2 {
    font-family: "Agdasima", sans-serif;
    /* font-weight: 400; */
    /* margin: 0 0 20px 0;
    padding: 0; */
    color: white;
}

h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: #0e1b4d;
}

.highlight {
    color: #F924A1;
}

#main {
    min-width: 320px;
    background-color: black;
    font-family: "Agdasima", sans-serif;
    font-size: 24px;
}

#footer {
    min-width: 320px;
}

/* .main-page {
    margin-top: 70px;
} */

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #E459BB;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #E459BB;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/* Sections Header
--------------------------------*/

.section-header {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.section-header h2 {
    display: inline;
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    /* margin-bottom: 10px; */
}


/* #about h2 {
    font-size: 36px;
} */


.section-header h2::before {
    content: "";
    position: absolute;
    top: calc(100% + 7px);
    width: calc(100% + 20px);
    left: -10px;
    height: 5px;
    background: linear-gradient(111.3deg, #269BB9 10%, #C248D6 90%);
    text-align: center;
    justify-content: center;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    position: fixed;
    /* background-color: yellow; */
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
}

#header.header-scrolled,
#header.header-inner {
    background: rgba(6, 12, 34, .85);
    /* height: 70px; */
}

/* #header #logo h1 {
    font-size: 36px;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
} */

/* #header #logo h1 span {
    color: #E459BB;
} */

/* #header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
} */

/* #header #logo img {
    /* padding: 0;
    margin: 0; */
    /* display: none;
    display: block;
    height: 70px;
} */

/* #header.header-fixed #logo img,
    #header.header-scrolled #logo img {
    display: block;
} */

/* @media (max-width: 992px) {
    #header #logo img {
        max-height: 30px;
    }
} */


/*--------------------------------------------------------------
# Buy Tickets
--------------------------------------------------------------*/
.buy-tickets {
    color: #fff;
    background: #E74C3C;
    padding: 7px 22px;
    margin: 0 0 0 15px;
    border-radius: 50px;
    border: 2px solid #E74C3C;
    transition: all ease-in-out 0.3s;
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
    white-space: nowrap;
}

.buy-tickets:hover {
    background: none;
    color: #fff;
}

.buy-tickets:focus {
    color: #fff;
}

@media (max-width: 992px) {
    .buy-tickets {
        margin: 0 15px 0 0;
    }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
    justify-content: center;
}

@media (max-width: 991px) {
    .navbar {
        justify-content: right;
    }
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    /* background-color: yellow; */
}

.navbar .mobile-nav-toggle {
    position: absolute;
    top: -30px;
    right: 3px;
}

.navbar .logo img {
    width: 400px;
}

/* #header.header-scrolled .navbar .logo img {
    width: 20vw;
} */

.navbar li {
    position: relative;
}

.navbar>ul>li {
    white-space: nowrap;
    padding: 10px 0 10px 12px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: "Agdasima", sans-serif;
    font-size: 26px;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
    padding: 6px 4px;
}

.navbar a:hover {
    color: #269BB9;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar>ul>li>a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #E459BB;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
    visibility: visible;
    width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    /* color: #E459BB; */
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 12px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    color: #060c22;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #E459BB;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

header .logo-mobile {
    display: none;
}

.mobile-only {
    display: none;
}


/* @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
} */



/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
}

@media (max-width: 991px) {
    /* .mobile-nav-toggle {
        display: block;
    } */

    .navbar ul {
        display: none;
    }

    header .logo-mobile {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        text-align: center;
    }

    header .logo-mobile img {
        width: 350px;
    }
}

@media (max-width: 414px) {

    header .logo-mobile img {
        width: 250px;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .logo {
    display: none;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile>ul>li {
    padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
    visibility: hidden;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #060c22;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #E459BB;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
    color: #E459BB;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    min-width: 320px;
    max-width: 2150px;
    background-attachment: fixed;
    background-image: url("../img/hero-galaxy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    overflow: hidden;
    position: relative;
    min-height: 700px; 
    max-height: 1600px;
}

/* TODO: Re-enable??? */
/* #hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
} */

#hero .hero-container {
    background-image: url("../img/hero-foreground.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* padding: 0 15px; */
    overflow: hidden;
}

#hero h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 56px;
    font-weight: 600;
    text-transform: uppercase;
}

#hero h1 span {
    color: #E459BB;
}

#hero p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
}

#hero .banner {
    left: 5%;
    position: absolute;
    top: 175px;
    width: 650px;
}
@media (max-width: 991px) {
    #hero .banner {
        left: 5%;
        top: 150px;
        width: 80%;
    }
}
@media (max-width: 414px) {
    #hero .banner {
        top: 110px;
        width: 90%;
    }
}

#hero .info-support {
    display: none;
}
@media (max-width: 991px) {
    #hero .info-support {
        display: block;
        width: 40%;
        position: absolute;
        right: 5%;
        top: 350px;
    }
}
@media (max-width: 414px) {
    #hero .info-support {
        display: block;
        width: 200px;
        position: absolute;
        right: 5%;
        top: 220px;
    }
}



#hero .countdown {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    left: 30px;
    width: 550px;
}
  
#hero .countdown-image-bottom {
    display: block;
    width: 100%;
    height: auto;
  }

  #hero .countdown-image-top {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
  }
  
#hero .countdown-text {
    position: absolute;
    bottom: 40px;
    left: 220px;
    font-size: 75px;
    font-family: Montserrat;
    font-weight: 600;
    color: black;
    transform: scale(1, 2);
    -webkit-transform: scale(1, 2);
    -moz-transform: scale(1, 2);
    -o-transform: scale(1, 2);
    width: 122px;
    /* background-color: yellow; */
}
@media (max-width: 991px) {
    #hero .countdown-text {
        bottom: 24px;
        left: 140px;
        font-size: 50px;
        width: 78px;
    }
}
/* @media (max-width: 414px) {
    #hero .countdown-text {
        bottom: 29px;
        width: 78px;
    }
} */

#hero .countdown .date {
    display: block;
    position: absolute;
    font-family: "Agdasima", sans-serif;
    font-size: 55px;
    top: 110px;
    right: 58px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}
@media (max-width: 991px) {
    #hero .countdown .date {
        font-size: 35px;
        top: 70px;
        right: 38px;
    }
}
/* @media (max-width: 414px) {
    #hero .countdown .date {
        font-size: 35px;
        right: 38px;
    }
} */



#hero .info-support-logo {
    /* width: 40vw; */
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 3%;
    margin-bottom: 3%;
    max-width: 450px;
    width: 425px;
}

@media (max-width: 991px) {
    #header {
        /* background-color: red; */
        height: 130px;
        position: fixed;
        /* background-color: yellow; */
    }

    #hero {
        height: 1000px;
        max-height: 1000px;
        min-height: 1000px;
    }

    #hero .hero-container {
        background-image: url("../img/hero-foreground-tablet.png");
        background-size: 992px 833px;
        height: 1000px;
    }

    /* #hero .info-support {
        display: block;
        width: 60%;
        position: absolute;
        right: 5%;
        top: 420px;
    } */

    #hero .info-support-logo {
        display: none;
    }

    #hero .countdown {
        left: 0px;
        width: 450px;
    }
}


@media (max-width: 991px) {

    #hero .countdown {
        left: 0px;
        width: 350px;
    }




}


@media (max-width: 414px) {

    #hero {
        /* background-image: none; */
        /* background-color: yellow; */
        /* height: 500px;
        min-height: 500px; */
        /* width: 100%;
        min-width: 320px; */
        /* max-width: 2150px; */
        /* min-height: 1000px;
        max-height: 1600px; */
        height: 667px;
        /* min-height: 200px;  */
        max-height: 667px;
        min-height: 667px;
    }

    #hero .hero-container {
        background-image: url("../img/hero-foreground-mobile.png");
        background-size: 414px 457px;
        height: 667px;
    }





    #hero .countdown {
        left: 0px;
        width: 350px;
    }







    #hero .info-support-logo {
        display: none;
    }
}



@media (max-width: 414px) {
    #header {
        /* background-color: red; */
        height: 90px;
        position: fixed;
        /* background-color: yellow; */
    }
}

@media (min-width: 2150px) {

    #hero {
        left: calc((100% - 2150px) / 2);
    }
}



/* @-webkit-keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate-btn {
    0% {
        transform: scale(0.6, 0.6);
        opacity: 1;
    }

    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
} */

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#about {
    background-image: url("../img/section-about.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
    padding: 60px 0 0 0;
}

#about p {
    margin: auto;
    margin-bottom: 20px;
    max-width: 1000px;
    text-shadow: 1px 1px 1px black;
}

/*--------------------------------------------------------------
# Speakers Section
--------------------------------------------------------------*/
#speakers {
    background-image: url("../img/section-speakers.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
    padding: 60px 0 0 0;
}

#speakers p {
    margin: auto;
    margin-bottom: 20px;
    max-width: 1000px;
    text-shadow: 1px 1px 1px black;
}

#speakers p:last-child {
    padding-bottom: 30px;
}

/*--------------------------------------------------------------
# Schedule Section
--------------------------------------------------------------*/
#schedule {
    background-image: url("../img/section-schedule.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
    padding: 60px 0 0 0;
}

#schedule .embed {
    margin: auto; 
    max-width: 1000px;   
}

/*--------------------------------------------------------------
# Venue Section
--------------------------------------------------------------*/
#venue {
    background-image: url("../img/section-venue.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
    padding: 60px 0 0 0;
}

#venue .row {
    margin: 0px;
}

#venue .row>* {
    padding: 0px;
}

#venue .logo {
    padding-bottom: 40px;
    width: 80%;
}
@media (max-width: 991px) {
    #venue .logo {
        max-width: 400px;
    }
}

#venue .venue-info {
    background: linear-gradient(135deg, #269BB9 10%, #C248D6 90%);
    padding-bottom: 40px;
    padding-top: 60px;
    position: relative;
}

@media (max-width: 991px) {
    #venue .venue-info .info {
        text-align: center;
    }
}

#venue .venue-info p {
    margin-bottom: 0;
}

#venue .venue-map iframe {
    min-height: 300px;
    height: 100%;
    width: 100%;
}

/*--------------------------------------------------------------
# Tickets Section
--------------------------------------------------------------*/
#tickets {
    background-image: url("../img/section-tickets.png");
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: clamp(320px, 80%, 700px) auto;
    padding: 60px 0 0 0;
}

#tickets h3 {
    color: #E459BB;
    text-align: center;
    text-shadow: 0 0 25px white;
}

#tickets p {
    margin: auto;
    margin-bottom: 20px;
    max-width: 1000px;
    text-shadow: 1px 1px 1px black;
}

#tickets p:last-child {
    padding-bottom: 30px;
}

/*--------------------------------------------------------------
# Organizers Section
--------------------------------------------------------------*/
#organizers {
    padding: 60px 0 60px 0;
}

#organizers .organizer {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    /* margin: 0 10px 10px 0; */
}

#organizers .organizer img {
    height: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
}

#organizers .organizer-item {
    align-items: center;
    /* background-color: yellow; */
    vertical-align: middle;
    display: table;
}

#organizers .organizer-item h4 {
    font-size: 18px;
    font-weight: 600;
    /* padding-top: 5px; */
    /* margin-bottom: 0px; */
}

#organizers .organizer-item h4 span {
    font-style: italic;
    /* color: #19328e; */
    font-weight: normal;
    font-size: 16px;
}

#organizers .organizer-item p {
    /* margin-bottom: 0; */
    line-height: normal;
    /* background-color: red; */
    vertical-align: middle;
    display: table-cell;
}

/*--------------------------------------------------------------
# Code of Conduct Section
--------------------------------------------------------------*/
#code-of-conduct {
    padding: 60px 0 60px 0;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #101522;
    padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;
}

#footer .links {
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 12px;
}

#footer .links a {
    cursor: pointer;
    text-decoration: underline;
}

#footer .links a:hover {
    color: pointer;
}

#footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
}
