@import "@/public/aos/aos.css";

// Change Bootstrap's primary color (used for buttons, links, etc.)
// $primary: #F924A1;
$primary: #269bb9;
$secondary: #F924A1;
$tertiary:#121838;
$info: #E459BB;

$headings-font-family: 'Agdasima', sans-serif;

@import "~bootstrap/scss/bootstrap";
@import "@/public/bootstrap-icons/bootstrap-icons.min.css";
@import "@/public/galleria/themes/twelve/galleria.twelve.min.css";

body {
    // background-color: #121838;
    // color: white;
    min-height: 500px;
}

.galleria
{
    width: 660px;
    height: 440px;
}

@media (max-width: 640px) {
    .galleria
    {
        width: 300px;
        height: 200px;
    }
}
