<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="Get ready for an exciting two-day event that will cover the latest Microsoft technologies and innovations." name="description">
    <base href="/"/>
    <!-- Open Graph -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Bitbash - Free two-day event covering the latest Microsoft technologies">
    <meta property="og:description" content="Get ready for an exciting two-day event that will cover the latest Microsoft technologies and innovations.">
    <meta property="og:url" content="https://www.bitbash.nl/">
    <meta property="og:site_name" content="Bitbash">
    <meta property="og:image" content="https://www.bitbash.nl/img/winter-2024/og-image.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <meta property="og:image:type" content="image/png">
    <!-- Favicons -->
    <link href="img/icons/favicon.png" rel="icon">
    <link href="img/icons/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Agdasima:400,700b"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:600"
        rel="stylesheet">
    <!-- CSS Files -->
    <link href="aos/aos.css" rel="stylesheet">
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap-icons/bootstrap-icons.min.css" rel="stylesheet">
    <link href="galleria/themes/twelve/galleria.twelve.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <link href="Bitbash.Web.styles.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body data-enhance-nav="false">
    <Routes/>

    <script src="aos/aos.js"></script>
    <script src="jquery/jquery-3.7.1.min.js"></script>
    <script src="galleria/galleria.min.js"></script>
    <script src="galleria/themes/twelve/galleria.twelve.min.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
