@inject WebsiteSettings Settings

<div class="row text-center">
    <h2>Interested in speaking at Bitbash?</h2>
    <p>Our <a href="@Settings.SessionizeCfpLink">call for papers</a> is now open!</p>
</div>
