.community-item {
    min-width: 200px; /* Adjust this value as needed */
    justify-content: center;
    align-items: center;
    padding: 10px; /* Adjust this value as needed */
}

.community-item img {
    padding: 15px;
    height: 200px;
    width: 300px;
    object-fit: contain;
    background-color: white;
    border: 10px solid transparent; 
    border-image: linear-gradient(135deg, #269BB9 10%, #C248D6 90%);
    border-image-slice: 1;
    border-radius: 10px;
}
