<Section Id="communities" HeaderText="Community Sponsors" ExtraClass="rocket-4" FadeUp="true">

    <div class="row">
        <div class="col community-item text-center">
            <a href="https://www.dutchazuremeetup.nl/" target="_blank">
                <img src="img/communities/logo-dutch-azure-meetup.svg" class="img-fluid" alt="Logo of Dutch Azure Meetup">
            </a>
        </div>
        <div class="col community-item text-center">
            <a href="https://dotned.nl/" target="_blank">
                <img src="img/communities/logo-dotned.gif" class="img-fluid" alt="Logo of dotNed Usegroup">
            </a>
        </div>
        <div class="col community-item text-center">
            <a href="https://www.dwit.work/" target="_blank">
                <img src="img/communities/logo-dutchwomenintech.svg" class="img-fluid" alt="Logo of Dutch Women in Tech">
            </a>
        </div>
        <div class="col community-item text-center">
            <a href="https://www.techorama.nl/" target="_blank">
                <img src="img/communities/logo-techorama.svg" class="img-fluid" alt="Logo of Techorama">
            </a>
        </div>
    </div>

</Section>
