@inject WebsiteSettings Settings

<div class="countdown">
    <img class="countdown-image-bottom" src="img/countdown-egg.png" alt="Countdown background"/>
    <img class="countdown-image-middle" src="img/countdown-bottom.png" alt="Countdown layer"/>
    <div class="countdown-text">
        <span id="days">@_days</span>
    </div>
    <img class="countdown-image-top" src="img/countdown-top.png" alt="Countdown foreground"/>
    <span class="date"><em>@Settings.PreConWorkshopsDate.Day/@Settings.ConferenceDate.Day</em> @Settings.PreConWorkshopsDate.ToString("MMM") @Settings.PreConWorkshopsDate.Year</span>
</div>

@code
{
    private int _days;

    protected override void OnInitialized()
    {
        _days = Math.Max(
            0,
            (Settings.PreConWorkshopsDate.ToDateTime(TimeOnly.MinValue) - DateTime.Today).Days);
    }
}