
#hero .countdown {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    left: 30px;
    width: 550px;
}
@media (max-width: 991px) {

    #hero .countdown {
        left: 0px;
        width: 350px;
    }
}

#hero .countdown-image-bottom {
    display: block;
    width: 100%;
    height: auto;
}

#hero .countdown-image-middle {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}

#hero .countdown-image-top {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0px;
    left: 0px;
}

#hero .countdown-text {
    position: absolute;
    bottom: 50px;
    left: 220px;
    font-size: 62px;
    font-family: Montserrat;
    font-weight: 600;
    color: black;
    transform: scale(1, 2.5);
    -webkit-transform: scale(1, 2.5);
    -moz-transform: scale(1, 2.5);
    -o-transform: scale(1, 2.5);
    width: 122px;
}
@media (max-width: 991px) {
    #hero .countdown-text {
        bottom: 31px;
        left: 140px;
        font-size: 40px;
        width: 78px;
    }
}

#hero .countdown .date {
    display: block;
    position: absolute;
    font-family: "Agdasima", sans-serif;
    font-size: 55px;
    top: 110px;
    right: 58px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
}
@media (max-width: 991px) {
    #hero .countdown .date {
        font-size: 35px;
        top: 70px;
        right: 38px;
    }
}