<section id="hero">
    <div class="hero-container">
        <img class="banner pb-10" src="img/winter-glow.png" alt="Winter glow" data-aos="zoom-in" data-aos-delay="100" />
        
        <img class="info-support" src="img/info-support.png" alt="Info Support" data-aos="zoom-in" data-aos-delay="200" />

        <Countdown />

        <img class="info-support-logo" src="img/info-support.png" alt="Info Support logo"/>
    </div>
</section>