<section id="hero">
    <div class="hero-container">
        <img class="banner pb-10" src="img/edition.png?v=20250716" alt="Jurassic edition" data-aos="zoom-in" data-aos-delay="100" />
        
        <Countdown />
    </div>
</section>