@inject WebsiteSettings Settings

<Section HeaderText="@($"Photos {Settings.CurrentEditionTitle}")" ExtraClass="rocket-2" FadeUp="true">

    @if (Settings.CurrentEditionAfterMovieEmbedLink.Length > 0)
    {
        <aftermovie EmbedLink="@Settings.CurrentEditionAfterMovieEmbedLink" />
    }
    
    <Galleria Edition="@Settings.CurrentEdition"/>

</Section>
