@page "/agenda"
@inject EventDetailsProvider EventDetailsProvider
@inject WebsiteSettings Settings

<PageTitle>Agenda | Bitbash</PageTitle>

<HeaderSpacer />

<Section HeaderText="Agenda" ExtraClass="rocket-2">

    <DateSelector OnSelectedDateChanged="OnSelectedDateChanged" />

    <div class="container" data-aos="fade-up">

        @if (schedule is not null)
        {
            foreach (var slot in schedule)
            {
                <div class="row text-center">
                    <h2>@slot.Key.ToString("HH:mm") - @slot.First().EndsAt!.Value.ToString("HH:mm")</h2>
                </div>

                <div class="row justify-content-center p-2">

                    @if (slot.Any())
                    {
                        foreach (var session in slot)
                        {
                            <SessionCard Session="@session" />
                        }
                    }

                </div>
            }
        }

    </div>

</Section>

@code
{
    private IEnumerable<IGrouping<DateTime, Session>>? schedule;

    private async Task OnSelectedDateChanged(DateOnly date)
    {
        schedule = await EventDetailsProvider.GetScheduleAsync(Settings.CurrentEdition, date);
    }
}
