.card-body {
    color: black;
}

.card-footer {
    background-color: #121838;
}

h2 {
    color: black;
}

.session-format {
    background-color: #269BB9;
}

.session-level {
    background-color: #E459BB;
}