.cardBody {
    color: black;
    padding: 10px;
}

.dateTime {
    color: black;
}

/* Double for precedence over Bootstrap's .card-footer */
.cardFooter.cardFooter {
    background-color: #121838;
}

.sessionFormat {
    background-color: #269BB9;
    color: #fff;
    border-radius: 50px;
    padding: 0.25em 1em;
    margin-right: 0.5em;
}

.sessionLevel {
    background-color: #E459BB;
    color: #fff;
    border-radius: 50px;
    padding: 0.25em 1em;
}
