<PageScript Src="./Components/Layout/BackToTop.razor.js" />

<a href="#" alt="Back to top" class="back-to-top d-flex align-items-center justify-content-center" onclick="return backToTop.scrollToTop()">
    <i class="bi bi-arrow-up-short"></i>
</a>
